@import "variables.less";

body {
	background: #f2f2f2;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.introduction {
	display: none;
}
.pages-nav.pages-nav--open + .introduction {
	font-size: @font-size-m;
	display: block;
	color: @color;
	text-align: center;
	& > p.content {
		padding: 45vw 0 0 0;
		font-family: @font-noto;
		font-weight: @font-weight;
		font-size: 2em;
		margin-bottom: 0.5em;
		line-height: 1.1;

		span {
			animation-name: heading;
			animation-duration: 8s;
			color: #ae4949;
		}
	}
	& > p.credit {
		font-family: @font-batang;
		font-size: 0.9em;
	}
}
		@-webkit-keyframes heading {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}
		@keyframes heading {
			0% {opacity: 0.1;}
			100% {opacity: 1;}
		}
.js .pages-nav {
	font-size: @font-size-m;
	a.link--page {
		font-family: @font-noto;
		font-weight: @font-weight;
		color: @color-strong;
	}

}
.pages-stack:not(.pages-stack--open) .page {
	transform: none !important;
}
.pages-stack.pages-stack--open .page {
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-overflow-scrolling: auto;
	a, button {
		pointer-events: none;
		cursor: default;
	}
}
.menu-button {
	width: 50px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	i {
		color: @color;
		font-size: 30px;
	}
	&.menu-button--open i {
		color: @color !important;
	}
}
@media screen and (max-width: 559px) {
	.menu-button {
		top: 5px;
		right: 10px;
		left: auto;
		transition: opacity 1s; -webkit-transition: opacity 1s;
	}
	.js .pages-nav a.link--page {
		font-size: 1.1em;
	}
}
@media screen and (min-width: 560px) {
	.menu-button {
		top: 10px;
		left: 10px;
	}
	.pages-nav.pages-nav--open + .introduction,
	.js .pages-nav {
		font-size: @font-size-m;
		& > p.content {
			padding: 25vw 0 0 0;
		}
		.pages-nav__item {
			width: 20%;
		}
	}
}
@media screen and (min-width: 768px) {
	.pages-nav.pages-nav--open + .introduction {
		& > p.content {
			margin-right: auto;
			margin-left: auto;
			padding: 20vh 0 0 0;
			width: 90%;
			font-size: 4em;
			line-height: 1.1;
		}
	}
	.js .pages-nav {
		margin: 0;
		width: 100%;
		padding: 0 15%;
		text-align: center;
	}
}
@media screen and (min-width: 1024px) {
	.menu-button {
		top: 20px;
		left: 20px;
	}
	.pages-nav.pages-nav--open + .introduction {
		& > p.content {
		}
	}
	.js .pages-nav {
		margin: 0;
		width: 100%;
		font-size: 1.2em;
	}
}

// fancy-box ////
.fancybox-nav {
	top: 33.33%;
	height: 33.33%;
	width: 25%;
}
.fancybox-inner audio {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
