@font-noto: 'Noto Sans KR';
@font-weight: 900;
@font-batang: 'BareunBatang';
@font-mont: 'Montserrat Regular';
@font-size-m: 16px;
@font-size-w: 17px;
@color: #4d4d4d;
@color-strong: #6d92c4;
@alert-color: #f00;
