<div class="outline inner-page inner-page-open">
</div>
<div class="sections">
</div>

<script type="text/template" id="outline-template">
	<div class="part">
		<div class="part-title"><%= partTitle %></div>
		<ul class="items"><%= items %></ul>
	</div>
</script>

<script type="text/template" id="item-template">
	<li><%= item %></li>
</script>

<script type="text/template" id="section-template">
	<section id="suspicion-<%= section %>" class="inner-page">
		<div class="header">
			<div class="part-title">
				<div class="part-num">part <%= partNum %></div>
				<div class="part-main-title"><%= partMainTitle %></div>
				<div class="part-subtitle">- <%= partSubtitle %></div>
			</div>
			<div class="title">
				<span class="title-num-wrapper">
					<span>의혹</span>
					<span class="title-num"><%= titleNum %></span>
				</span>
				<span class="title-wrapper"><%= title %></span>
			</div>
			<div class="background">
				<div class="media num-<%= bgMediaNum %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= bgMedia %></div></div>
				</div>
				<p><%= background %></p>
			</div>
			<div class="witnesses">
				<div class="header">관련증인</div>
				<ul class="list"><%= witness %></ul>
			</div>
		</div>
		<div class="content">
			<div class="abstract">
				<div class="header">청문회 주요내용</div>
				<div class="content"><%= abstract %></div>
				<div class="media num-<%= abMediaNum %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= abMedia %></div></div>
				</div>
			</div>
			<div class="dialogue">
				<div class="header">그들의 한마디</div>
				<ul class="list"><%= dialogue %></ul>
			</div>
			<div class="conclusion">
				<div class="conclusion-wrapper"><%= conclusion %></div>
				<div class="media num-<%= concMediaNum %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= concMedia %></div></div>
				</div>
			</div>
			<div class="etc">
				<div class="media num-<%= etcMediaNum %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= etcMedia %></div></div>
				</div>
				<ul class="links"><%= etcLinks %></ul>
			</div>
		</div>
	</section>
</script>

<script type="text/template" id="medium-template">
	<%= medium %>
	<div class="caption"><%= caption %></div>
</script>

<script type="text/template" id="witnesses-template">
	<li>
		<img src="<%= photo %>">
		<span class="name"><%= name %></span>
		<span class="organ"><%= organ %></span>
	</li>
</script>

<script type="text/template" id="dialogue-template">
	<li>
		<div class="question">
			<sapn class="name"><%= qName %></span>
			<div class="question-wrapper"><%= question %></div>
			<div class="media num-<%= qMediaNum %>">
				<div class="r-wrap"><div class="r-wrap-in"><%= qMedia %></div></div>
			</div>
		</div>
		<div class="answer">
			<div class="photo">
				<img src="<%= photo %>">
				<span class="name"><%= aName %></span>
				<span class="organ"><%= aOrgan %></span>
			</div>
			<div class="speech-bubble">
				<div class="nipple"></div>
				<div class="answer-wrapper"><%= answer %></div>
			</div>
			<div class="media num-<%= aMediaNum %>">
				<div class="r-wrap"><div class="r-wrap-in"><%= aMedia %></div></div>
			</div>
		</div>
	</li>
</script>
