<div class="outline inner-page inner-page-open">
</div>
<div class="section-container">
</div>

<script type="text/template" id="hearing-outline-template">
	<div class="part">
		<div class="part-title"><%= part_title %></div>
		<ul class="items"><%= items %></ul>
	</div>
</script>

<script type="text/template" id="hearing-item-template">
	<li><%= item %></li>
</script>

<script type="text/template" id="hearing-section-template">
	<section id="suspicion-<%= section %>" class="inner-page">
		<div class="header">
			<div class="part-title">
				<div class="part-num">part <%= part_num %></div>
				<div class="part-main-title"><%= part_main_title %></div>
				<div class="part-subtitle">- <%= part_subtitle %></div>
			</div>
			<div class="title">
				<span class="title-num-wrapper">
					<span>의혹</span>
					<span class="title-num"><%= title_num %></span>
				</span>
				<span class="title-wrapper"><%= title %></span>
			</div>
			<div class="media num-<%= nummedia %>">
				<div class="r-wrap"><div class="r-wrap-in"><%= media %></div></div>
			</div>
			<div class="background"><%= background %></div>
			<div class="witnesses">
				<div class="header">관련증인</div>
				<ul class="list"><%= widneses =></ul>
			</div>
		</div>
		<div class="content">
			<div class="abstract">
				<div class="header">청문회 주요내용</div>
				<p="content"><%= abstract %></p>
				<div class="media num-<%= nummedia %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= media %></div></div>
				</div>
			</div>
			<div class="dialogue">
				<div class="header">그들의 한마디</div>
				<ul class="list"><% dialogue %></ul>
			</div>
			<div class="media">
				<div class="media-wrapper"></div>
				<span class="caption"></div>
			</div>
			<div class="conclusion">
				<p><%= conclusion %></p>
				<div class="media num-<%= nummedia %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= media %></div></div>
				</div>
			</div>
			<div class="etc">
				<div class="media num-<%= nummedia %>">
					<div class="r-wrap"><div class="r-wrap-in"><%= media %></div></div>
				</div>
				<ul class="links"><%= links %></ul>
			</div>
		</div>
	</section>
</script>

<script type="text/template" id="hearing-media-template">
	<%= medium %>
	<div class="caption"><%= caption %></div>
</script>

<script type="text/template" id="hearing-witnesses-template">
	<li>
		<img src="<%= photo %>">
		<span class="name"><%= name %></span>
		<span class="organ"><%= organ %></span>
	</li>
</script>

<script type="text/template" id="hearing-dialogue-template">
	<li>
		<div class="question">
			<sapn class="name"><%= q_name %></span>
			<p><%= question =></p>
		</div>
		<div class="answer">
			<div class="photo">
				<img src="<%= photo %>">
				<span class="name"><%= name %></span>
				<span class="organ"><%= organ %></span>
			</div>
			<div class="speech-bubble">
				<div class="nipple"></div>
				<p><%= answer %></p>
			</div>
			<div class="media num-<%= nummedia %>">
				<div class="r-wrap"><div class="r-wrap-in"><%= media %></div></div>
			</div>
		</div>
	</li>
</script>
