@font-face {
  font-family: "Montserrat Regular";
  font-style: "normal";
  font-weight: "400";
  src: local(Montserrat Regular), local(Montserrat-Regular), url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff) format("woff"); }
@font-face {
  font-family: "Montserrat Bold";
  font-style: "normal";
  font-weight: "700";
  src: local(Montserrat Bold), local(Montserrat-Bold), url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.woff) format("woff"); }
