.se-container, .se-bgcolor {
	transition: background-color 1s; -webkit-transition: background-color 1s;
}
.se-color {
	transition: color 1s; -webkit-transition: color 1s;
}
.se-container {
	&::-webkit-scrollbar {
		width: 0;
	}
	.se-section {
		position: relative;
		.se-title {
			position: absolute;
			right: 0;
			top: 0;
			&.se-left-title {
				left: 0;
				top: 0;
			}
			/*
			&.bottom {
				bottom: 0 !important;
				top: auto !important;
			}
			*/
			&.fixed {
				position: fixed;
				top: 0;
			}

		}
	}
}
