[submodule "medium-editor"]
    path = contrib/medium-editor
	url = https://github.com/yabwe/medium-editor.git
[submodule "spectrum"]
    path = contrib/spectrum
	url = https://github.com/bgrins/spectrum.git
[submodule "jquery-browser-plugin"]
	path = contrib/jquery-browser-plugin
	url = https://github.com/gabceb/jquery-browser-plugin.git
[submodule "gray"]
	path = contrib/gray
	url = https://github.com/karlhorky/gray.git
