<section class="title se-section">
	<div class="se-background"></div>
	<div class="sect-name se-title"></div>
	<div class="content">
		<div class="maintitle">
			<p>416 세월호 참사 특별조사위원회</p>
			<p>2차 청문회</p>
		</div>
		<div class="subtitle">
			<p>예고된 참사: 세월호 비극은</p>
			<p>일어날 수밖에 없었다</p>
			<div class="period">
				2016.3.28(월) 9:30 am ~ 29(화) 18 pm, 서울시청 8층 다목적홀
			</div>
		</div>
	</div>
</section>

<section class="suspicion se-section">
	<div class="se-background"></div>
	<div class="sect-name section se-title se-left-title"><span>&nbsp;<br>주요 의혹</span></div>
	<div class="content">
		<article>
			<span class="number">1</span>
			<div class="title">
				<p class="maintitle">"대한민국에서 제일 위험한 배" 어떻게 태어났나</p>
				<p class="subtitle">- 선박도입, 증개축 과정의 문제점, 복원성 악화, 법령· 제도· 정책· 관행의 문제점</p>
			</div>
		</article>
		<article>
			<span class="number">2</span>
			<div class="title">
				<p class="maintitle">왜 침몰했나</p>
				<p class="subtitle">- 조타미숙 등 운항상 문제와 급변침 원인, 조타기 등 기기결함 여부와 선체손상 여부</p>
			</div>
		</article>
		<article>
			<span class="number">3</span>
			<div class="title">
				<p class="maintitle">도주자들, 그들은 왜 승객을 구하지 않았나</p>
				<p class="subtitle">- 지원요청 및 퇴선, 선원 구호의무 이행 여부</p>
			</div>
		</article>
		<article>
			<span class="number">4</span>
			<div class="title">
			<p class="maintitle">그날의 중요한 증거 선체인양은 투명하게 진행되고 있나</p>
			<p class="subtitle">- 침몰 후 선체관리 상태, 미수습자 유실방지 조치, 인양방법 등의 적절성</p>
			</div>
		</article>
		<article>
			<p id="text-banner">참조 - 타임라인으로 탐구하는 세월호 참사의 구조적 원인과 행위자들 :: <a href="http://www.taogi.net/why-sewolho">세월호는 왜.</a></p>
		</article>
	</div>
</section>

<section class="opinion se-section">
	<div class="se-background"></div>
	<div class="sect-name section se-title se-left-title"><span>나도<br>청문위원</span></div>
	<div class="container">
		<form id="opinion-form" class="opinion-form" action="./teaser/opinion.php" method="post" onsubmit="return check_opinion_submit(this);">
			<label for="opinion-memo">
				제2차 청문회에 참석하는 증인들에게 신문하고 싶은 내용을 적어주세요.<br>
				적어주신 신문내용은 채택하여 현장에서 질문지로 제출할 예정입니다.
			</label>
			<fieldset class="opinion-fieldset">
				<textarea class="opinion-memo" id="opinion-memo" name="memo"></textarea>
				<button type="submit" class="opinion-submit">질문 보내기</button>
			</fieldset>
			<div id="opinion-memo-alert-box"></div>
		</form>
	</div>
	<div id="opinion-items-wrap" class="container">
	</div>
</section>

<section class="witnesses se-section">
	<div class="se-background"></div>
	<div class="sect-name section se-title se-left-title"><span>청문회<br>주요 증인</span></div>
	<div class="content">
		<p>제2차 청문회 조사대상자를 공개합니다.</p>
		<article>
			<div class="sect-name article"><span>세월호 선장,<br>선원</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이준석</p><p>선장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>강원식</p><p>세월호 1등 항해사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김영호</p><p>세월호 2등 항해사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박한결</p><p>세월호 3등 항해사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>조준기</p><p>세월호 조타수</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박기호</p><p>세월호 기관장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>강혜성</p><p>세월호 여객영업부 직원</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>청해진 해운</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김한식</p><p>대표이사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>안기현</p><p>해무이사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>송기채</p><p>여수지역본부장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이성희</p><p>제주지역본부장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김재범</p><p>기획관리팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>홍영기</p><p>해무팀 대리</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>남호만</p><p>물류팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김정수</p><p>물류팀 차장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>신보식</p><p>세월호 선장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박진환</p><p>오하마나호 선장</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>세월호 항적,<br>VTS 관련</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이상길</p><p>(주)GCSC 대표이사 (진도VTS 관제운영 시스템 유지보수업체)</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>조기정</p><p>(주)GMT 연구소장 (정부발표 AIS 항적복구 업체)</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>인천항만청</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김영소</p><p>선원해사안전과장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박성규</p><p>선원해사안전과장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>정철락</p><p>선박안전과 팀장</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>한국 선급</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>전종호</p><p>선임검사원</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이상락</p><p>등록선업무팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이율성</p><p>기본기술팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>조용선</p><p>수석검사원</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>해양수산부</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>연영진</p><p>세월호인양추진단 단장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이철조</p><p>전 세월호인양추진단 부단장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김현태</p><p>세월호인양추진단 부단장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박준권</p><p>선체처리기술검토TF 단장</p></div>
				</li>
			</ul>
		</article>
		<p>등 증인 총 39인과 참고인 4인</p>
</section>

<script type="text/template" id="opinion-items-template">
	<div id="opinion-items-wrap" class="container">
		<div class="result-info">
			<%= page %> / <%= total_page %>
		</div>
		<ul id="opinion-items">
			<%= items %>
		</ul>
		<ul id="opinion-nav">
			<%= navi %>
		</ul>
	</div>
</script>

<script type="text/template" id="opinion-item-template">
	<li data-id="<%= id %>">
		<div class="memo"><%= memo %></div>
		<div class="regdate"><%= regdate %></div>
	</li>
</script>

<script type="text/template" id="opinion-nav-template">
	<li class="<% classname %>" data-id="<%= id %>">
		<span><%= label %></span>
	</li>
</script>
