<section class="title se-section">
	<div class="se-background"></div>
	<div class="sect-name se-title"></div>
	<div class="content">
		<div class="maintitle">
			<p>416 세월호 참사 특별조사위원회</p>
			<p>2차 청문회</p>
		</div>
		<div class="subtitle">
			<p>예고된 참사: 세월호 비극은</p>
			<p>일어날 수밖에 없었다</p>
			<div class="period">
				2016.3.28(월) 9:30 am ~ 29(화) 18 pm, 서울시청 8층 다목적홀
			</div>
		</div>
	</div>
</section>

<section class="opinion se-section">
	<div class="se-background"></div>
	<div class="sect-name section se-title se-left-title"><span>함께<br>물어 주세요</span></div>
	<div class="container">
		<p>
			대한민국에서 제일 위험한 배는<br>
		 	어떻게 태어나<br>
		 	왜 침몰했는가.<br>
		 	도주자들, 그들은 왜 승객을 구하지 않았는가.
		</p>
		<form id="opinion-form" class="opinion-form" action="./teaser/opinion.php" method="post" onsubmit="return check_opinion_submit(this);">
			<label for="opinion-memo">
				보내 주신 질문 중 몇 가지는<br>
				청문회장에서 증인들에게 직접 물을 예정입니다.
			</label>
			<fieldset class="opinion-fieldset">
				<textarea class="opinion-memo" id="opinion-memo" name="memo"></textarea>
				<button type="submit" class="opinion-submit">질문 보내기</button>
			</fieldset>
			<div id="opinion-memo-alert-box"></div>
		</form>
	</div>
	<div id="opinion-items-wrap" class="container">
	</div>
</section>

<section class="suspicion se-section">
	<div class="se-background"></div>
	<div class="sect-name section se-title se-left-title"><span>&nbsp;<br>주요 의혹</span></div>
	<div class="content">
		<article>
			<div class="title">
				<p class="maintitle">선박도입 및 운영과정의 문제점</p>
				<p class="subtitle">- 선박도입, 증개축 과정의 문제점, 복원성 악화, 법령· 제도· 정책· 관행의 문제점</p>
			</div>
			<ul>
				<li><span class="number">1</span><p>선박관련 규제완화 조치의 주도와 과정은 어떻게 이루어진 것인가</p></li>
				<li><span class="number">2</span><p>수난구호법 개정과 구조업무 민간이양의 추진과정과 주도주체는 누구인가</p></li>
				<li><span class="number">3</span><p>세월호 불법증개축을 승인하고 선적초과 등 잦은 불법적 출항이 가능했던 요인은 무엇인가</p></li>
				<li><span class="number">4</span><p>무리한 증개축으로 복원성에 문제가 있다는 사실을 청해진 해운 경영진은 알고 있었다는 것이 사실인가</p></li>
				<li><span class="number">5</span><p>왜 ‘세월호 운항관리규정 해양사고 보고계통도’에 국정원 인천지부와 제주지부가 명기되어 있는가</p></li>
			</ul>
		</article>
		<article>
			<div class="title">
				<p class="maintitle">참사당일 세월호 운항상 문제점 및 선체결함</p>
				<p class="subtitle">- 조타미숙 등 운항상 문제와 급변침 원인, 조타기 등 기기결함 여부와 선체 손상 여부</p>
			</div>
			<ul>
				<li>
					<span class="number">1</span>
					<p>
						세월호 급변침의 원인은 선원의 조타미숙? (검찰)<br>
						기계적 결함? (대법원) <br>
						혹은 자체적 이유가 아닌 외부적 힘이 작용한 것? (전문가)
					</p>
				</li>
				<li>
					<span class="number">2</span>
					<p>
						4월 15일 세월호에 실린 화물 선적량은 얼마인가? 화물과적, 고박상태가 선체침몰에 미치는 영향력은 어떠한가
					</p>
				</li>
				<li>
					<span class="number">3</span>
					<p>
						세월호 항적 중 AIS(선박자동식별장치)가 3분36초간 비어있는 것은 시스템에 결함인가 누군가에 의한 편집삭제인가
					</p>
				</li>
				<li>
					<span class="number">4</span>
					<p>
						세월호 선박 내부 기계적 결함이나 관리상 문제 있었다면 침몰에 어떠한 영향을 미쳤는가
					</p>
				</li>
			</ul>
		</article>
		<article>
			<div class="title">
				<p class="maintitle">구조지원 요청 및 승객구호의무</p>
				<p class="subtitle">- 지원요청 및 퇴선, 선원 구호의무 이행 여부</p>
			</div>
			<ul>
				<li><span class="number">1</span><p>“가만히 있으라” 마지막까지 선내 대기방송을 지시한 주체는 누구인가</p></li>
				<li><span class="number">2</span><p>세월호 선원들은 승객구조를 위해 구조지원 통화를 누구와 어떻게 협의했는가</p></li>
				<li><span class="number">3</span><p>조타실, 기관실 선원들에게 퇴선명령을 한 사람은 누구인가</p></li>
				<li><span class="number">4</span><p>해경의 선원확인 후 승객으로 은폐, 선원들의 승객구조 방임 교신 등 세월호 교신록 삭제, 조작을 지시한 사람은 누구인가</p></li>
			</ul>
		</article>
		<article>
			<div class="title">
			<p class="maintitle">침몰 후 선체관리 및 인양계획</p>
			<p class="subtitle">- 침몰 후 선체관리 상태, 미수습자 유실방지 조치, 인양방법 등의 적절성</p>
			</div>
			<ul>
				<li><span class="number">1</span><p>진실규명의 증거로서 유류품 및 선체훼손에 대한 대책 수립이 명확한가</p></li>
				<li><span class="number">2</span><p>인양과정에 대한 투명한 정보공개와 공개적 진행방안이 수립되지 못하는 이유는 무엇인가</p></li>
				<li><span class="number">3</span><p>미수습자 유실방지를 위한 구체적인 대책이 수립되었는가</p></li>
				<li><span class="number">4</span><p>세월호 침몰원인의 핵심증거인 선체의 인양후 진실규명은 공정성은 어떻게 보장되는가</p></li>
			</ul>
		</article>
	</div>
</section>

<section class="witnesses se-section">
	<div class="se-background"></div>
	<div class="sect-name section se-title se-left-title"><span>청문회<br>주요 증인</span></div>
	<div class="content">
		<p>청문회는 진상조사의 일환으로 참사와 관련있는 조사대상자를 공개 신문함으로써 진상규명활동을 국민와 공유하고 투명성 있게 진행하고자 합니다.</p>
		<article>
			<div class="sect-name article"><span>세월호 선장,<br>선원</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이준석</p><p>선장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>강원식</p><p>세월호 1등 항해사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김영호</p><p>세월호 2등 항해사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박한결</p><p>세월호 3등 항해사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>조준기</p><p>세월호 조타수</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박기호</p><p>세월호 기관장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>강혜성</p><p>세월호 여객영업부 직원</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>청해진 해운</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김한식</p><p>대표이사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>안기현</p><p>해무이사</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>송기채</p><p>여수지역본부장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이성희</p><p>제주지역본부장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김재범</p><p>기획관리팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>홍영기</p><p>해무팀 대리</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>남호만</p><p>물류팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김정수</p><p>물류팀 차장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>신보식</p><p>세월호 선장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박진환</p><p>오하마나호 선장</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>세월호 항적,<br>VTS 관련</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이상길</p><p>(주)GCSC 대표이사 (진도VTS 관제운영 시스템 유지보수업체)</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>조기정</p><p>(주)GMT 연구소장 (정부발표 AIS 항적복구 업체)</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>인천항만청</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김영소</p><p>선원해사안전과장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박성규</p><p>선원해사안전과장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>정철락</p><p>선박안전과 팀장</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>한국 선급</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>전종호</p><p>선임검사원</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이상락</p><p>등록선업무팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이율성</p><p>기본기술팀장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>조용선</p><p>수석검사원</p></div>
				</li>
			</ul>
		</article>
		<article>
			<div class="sect-name article"><span>해양수산부</span></div>
			<ul>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>연영진</p><p>세월호인양추진단 단장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>이철조</p><p>전 세월호인양추진단 부단장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>김현태</p><p>세월호인양추진단 부단장</p></div>
				</li>
				<li>
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="descript"><p>박준권</p><p>선체처리기술검토TF 단장</p></div>
				</li>
			</ul>
		</article>
		<p>등 증인 총 39인과 참고인 4인</p>
</section>

<script type="text/template" id="opinion-items-template">
	<div id="opinion-items-wrap" class="container">
		<div class="result-info">
			<%= page %> / <%= total_page %>
		</div>
		<ul id="opinion-items">
			<%= items %>
		</ul>
		<ul id="opinion-nav">
			<%= navi %>
		</ul>
	</div>
</script>

<script type="text/template" id="opinion-item-template">
	<li data-id="<%= id %>">
		<div class="memo"><%= memo %></div>
		<div class="regdate"><%= regdate %></div>
	</li>
</script>

<script type="text/template" id="opinion-nav-template">
	<li class="<% classname %>" data-id="<%= id %>">
		<span><%= label %></span>
	</li>
</script>
