#page-teaser {
	font-size: @font-size-m;
	section.title {
		font-family: @font-noto;
		text-align: center;
		color: @color;
		background-color: #ffffff;
		.sect-name {
			color: @color;
		}
		.content {
			display: inline-block;
			padding: 6em 0;
			margin-left: -3em;
			text-align: left;
			transform: rotateZ(-30deg); -webkit-transform: rotateZ(-30deg);
		}
		.maintitle {
			p {
				&:first-child {
					font-size: 1.3em;
					line-height: 1em;
					transform: skewX(30deg); -webkit-transform: skewX(30deg);
					transform-origin: left top;; -webkit-transform-origin: left top;
					position: relative;
					left: 1.5em;
				}
				&:last-child {
					font-size: 4em;
					line-height: 1em;
					transform: skewX(-30deg); -webkit-transform: skewX(-30deg);
					transform-origin: left bottom; -webkit-transform-origin: left bottom;
				}
			}
		}
		.subtitle {
			p {
				font-size: 1.6em;
				line-height: 1em;
				color: #0be4db;
			}
			.period {
				font-size: 0.5em;
				line-height: 1em;
				color: @color * 1.5;
			}
			transform: skewX(30deg); -webkit-transform: skewX(30deg);
			transform-origin: left top; -webkit-transform-origin: left top;
		}
	}// section.title
	section.opinion {
		color: #ffffff;
		padding: 8%;
		background-color: #1a1a1a;
		text-align: center;
		.container {
			max-width: 1000px;
			width: 100%;
			margin: auto;
		}
		.opinion-form {
			margin: 0;
			padding: 0;
			border: 0;
			label {
				display: inline-block;
				padding: 3em 0;
				font-size: 1.2em;
				font-family: @font-mont;
				text-align: left;
				transform: skewX(-5deg) rotateZ(-5deg);
				-webkit-transform: skewX(-5deg) rotateZ(-5deg);
			}
			fieldset.opinion-fieldset {
				position: relative;
				z-index: 1;
				border: 0;
				margin: 0;
				padding: 0 100px 0 0;
				textarea {
					height: 60px;
					width: 100%;
					margin: 0;
					padding: 1.0em;
				}
				button.opinion-submit {
					display: inline-block;
					position: absolute;
					z-index: 2;
					right: 0;
					bottom: 0;
					margin: 0;
					padding: 0;
					background: #000;
					color: #fff;
					width: 100px;
					height: 100%;
					text-align: center;
					cursor: pointer;
				}
			}
			#opinion-memo-alert-box {
				text-align: center;
				color: @alert-color;
				display: none;
			}
		}
		#opinion-items-wrap {
			padding: 10px 0 0 0;
			color: @color;
			.result-info {
				text-align: right;
			}
			#opinion-items {
				text-align: left;
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					margin :0;
					padding: 15px;
					border-bottom: 1px dotted @color;
					.regdate {
						text-align: right;
					}
				}
			}
			#opinion-nav {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 5px 0 0 0;
				li {
					display: inline-block;
					padding: 2px;
					.active {
						cursor: pointer;
					}
				}
			}
		}
	}
}
