@import "../css/variables.less";

#page-truth-beyond .part.conclusion-map {
	.map-wrap {
		position: relative;
		width: 100%; height: 100%;
		overflow: hidden;
	}
	.map-wrap img {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		@media screen and (max-width: 1200px){
			height: 100%;
			width: auto;
		}
		@media screen and (min-width: 1601px){
			width: 100%;
			height: auto;
		}
	}
	.map-wrap > p {
		color: #fff;
		font-size: 18px;
		font-weight: @font-wt-bold;
		z-index: 8;
		position: absolute;
		top: 10%;
		left: 10%;
	}
	.map-wrap .text-wrap {
		position: absolute;
		@media screen and (max-width: 375px){
			top: 30%; left: 10%;
			width: 80%;
			height: 50%;
		}
		@media screen and (min-width: 376px) and (max-width: 767px){
			top: 40%; left: 10%;
			width: 80%;
			height: 50%;
		}
		@media screen and (min-width: 768px){
			top: 0; left: 0;
			width: 50%;
			height: 100%;
			padding: 5% 0 5% 5%;
		}
	}
	.map-wrap .text-wrap > p {
		color: #fff;
		@media screen and (max-width: 767px){
			font-size: 16px;
		}
		@media screen and (min-width: 768px){
			margin-bottom: 5%;
			font-weight: @font-wt-bold;
			font-size: 18px;
		}
	}
	.title-on-image {
		z-index: 10;
		@media screen and (max-width: 767px){
			padding: 0;
			height: 45%;
		}
	}
	.title-on-image h6 {
		@media screen and (max-width: 767px){
			height: auto;
		}
	}
}
