@import "../css/variables.less";

#page-truth-beyond .media-and-text-in-two-column {
	&:after {
		content: ''; display: block; clear: both;
	}
	.left-column {
		@media screen and (max-width: 767px) {
			margin-bottom: 10%;
		}
	}
	.left-column, .right-column {
		@media screen and (min-width: 768px) {
			width: 50%;
			float: left;
		}
	}
	&.ratio21 > .left-column {
		@media screen and (min-width: 768px) {
			width: 66%;
		}
	}
	&.ratio21 > .right-column {
		@media screen and (min-width: 768px) {
			width: 33%;
		}
	}
	.media-wrap  img {
		width: 100%;
	}
	.link-wrap {
		overflow: hidden;
		display: block;
		line-height: 0;
	}
	.text-wrap {
		text-align: justify;
		@media screen and (max-width: 767px) {
			font-size: 16px;
			line-height: 1.5em;
		}
		@media screen and (min-width: 768px) {
			font-size: 18px;
			line-height: 2em;
		}
	}
	.text-wrap strong {
		font-weight: @font-wt-bold;
	}
}
