/*
목차
	1 .part.navy-part-1
	2 .part.navy-part-2
	3 .part.navy-part-3
	4 .part.nis-part-1
	5 .part.special-prosecutor-part-1
	6 .part.law-revision-table
*/
@import "../css/variables.less";

#page-truth-beyond {
	// 1 .part.navy-part-1 ///
	.navy-p1-image-wrap {
		@media screen and (min-width: 768px) {
			width: 50%;
			float: left;
		}
	}
	.navy-p1-image-wrap:first-child {
		@media screen and (max-width: 767px) {
			margin-bottom: 5%;
		}
		@media screen and (min-width: 768px) {
			padding-right: 3%;
		}
	}
	.navy-p1-image-wrap:last-child {
		@media screen and (min-width: 768px) {
			padding-left: 3%;
		}
	}
	.navy-p1-image-wrap > p {
		font-size: 15px;
		font-weight: @font-wt-bold;
		color: #7657c5;
		margin-bottom: 5%;
	}
	.navy-p1-image-wrap img {
		width: 100%;
	}
	.navy-p1-image-wrap:last-child img {
		border: solid 1px #808080;
	}

	// 2 .part.navy-part-2 ////
	.part.navy-part-2 .right-column:after {
		content: ''; display: block; clear: both;
	}
	.part.navy-part-2 .simple-image-wrap {
		@media screen and (max-width: 767px) {
			margin-top: 5%;
		}
		@media screen and (min-width: 768px) {
			width: 50%;
			float: right;
		}
	}

	// 3 .part.navy-part-3 ////
	.part.navy-part-4 .media-and-text-in-two-column .text-wrap {
		@media screen and (min-width: 768px) {
			padding-top: 30px;
		}
	}

	// 4 .part.nis-part-1 ////
	.part.nis-part-1 {
		.image-wrap {
			position: relative;
			padding-bottom: 50%;
		}
		img:nth-child(n+1){
			position: absolute;;
			top: 50%;
			left: 50%;
			width: 60%;
			transform: translate(-50%, -50%);
		}
	}

	// 5 .part.special-prosecutor ////
	.part.special-prosecutor-part-1 {
		.subsection-content:after {
			clear: both; display: block; clear: both;
		}
		.related-material {
			@media screen and (min-width: 768px) {
				float: right;
				width: 50%;
				min-width: 500px;
			}
		}
	}
	.part.special-prosecutor-part-2 div:last-child {
		margin-top: 5%;
	}

	// 6 .part.law-revision-table ////
	.part.law-revision-table {
		.lrvt-wrap > li {
			padding: 3% 0;
			border-top: solid 3px #bdcee4;
		}
		.lrvt-wrap > li:last-child {
			border-bottom: solid 3px #bdcee4;
		}
		.lrvt-title {
			font-size: 15px;
			font-weight: @font-wt-bold;
			margin-bottom: 1em;
		}
		.lrvt-list-wrap:after {
			content: ''; display: block; clear: both;
		}
		.lrvt-list {
			@media screen and (min-width: 900px) {
				float:left;
				width: 60%;
			}
		}
		.lrvt-explain {
			font-size: 16px;
			line-height: 1.5em;
			color: #808080;
			@media screen and (min-width: 900px) {
				float: left;
				width: 40%;
			}
		}
		.lrvt-list > li:after {
			content: ''; display: block; clear: both;
		}
		.lrvt-bill {
			font-size: 17px;
			line-height: 1.2em;
			@media screen and (min-width: 430px) {
				float: left;
				width: 83.3333%;
				margin-bottom: 1em;
			}
		}
		.lrvt-bill:before {
			content: ''; display: block;
			float: left;
			width: 15px;
			height: 12px;
			border-bottom: solid 2px #6d92c4;
		}
		.lrvt-bill:after {
			content: ''; display: block; clear: both;
		}
		.lrvt-bill a {
			&, &:active, &:visited, &hover { color: #6d92c4; }
			display: block;
			font-weight: @font-wt-bold;
			margin-left: 20px;
		}
		.lrvt-date {
			font-size: 12px;
			font-weight: @font-wt-bold;
			color: #808080;
			@media screen and (max-width: 429px) {
				margin-left: 20px;
			}
			@media screen and (min-width: 430px) {
				float: left;
				width: 16.6666%;
				text-align: center;
			}
		}

	}
}
