/*
목차:
	- 공통
	- section.page-title
*/

@import "../css/variables.less";

#page-truth-beyond {
	font-family: @font-noto;
	font-weight: @font-wt-light;
	color: #666;

	// 공통 ////
	h1, h2, h3, h4, h5, h6 {
		color: #666;
		margin: 0;
		line-height: 1.2em;
	}
	.subsection-title-region {
		margin: 0 auto;
		max-width: 1520px;
	}
	.subsection-title-region:after {
		content: ''; display: block; clear: both;
	}

	.subsection-title-region > h3 {
		font-weight: @font-wt-black;
		@media screen and (max-width: 767px) {
			padding-bottom: 1.5em;
		}
		@media screen and (min-width: 768px) {
			width: 25%;
			float: left;
			padding-right: 1.5em;
		}
	}
	.subsection-title-region > .subsection-content {
		@media screen and (min-width: 768px) {
			margin-left: 25%;
		}
	}
	.subsection-title-region > .subsection-content:after {
		content: ''; display: block; clear: both;
	}
	.contents-region {
		margin: 0 auto;
		max-width: 1280px;
	}
	.text-region {
		margin: 0 auto;
		max-width: 600px;
		text-align: justify;
		@media screen and (max-width: 647px) {
			padding-left: 24px;
			padding-right: 24px;
		}
		@media screen and (max-width: 767px) {
			font-size: 16px;
			line-height: 1.5em;
		}
		@media screen and (min-width: 768px) {
			font-size: 18px;
			line-height: 2em;
		}
	}

	// section.page-title ////
	section.page-title {
		padding: 0 24px;
		div {
			text-align: center;
		}
		h1 {
			display: inline-block;
			text-align: left;
		}
		div:first-child h1 {
			font-weight: @font-wt-light;
		}
		div:last-child h1 {
			font-weight: @font-wt-black;
		}
	}
}
