<section class="title">
	<div class="sect-name"></div>
	<div class="content">
		<div class="maintitle">
			<p>416가족의</p>
			<p>발자취</p>
		</div>
		<div class="subtitle"><span>- 특별법 제정 활동을 중심으로</span></div>
	</div>
</section>

<script type="text/template" id="section-template">
	<section>
		<div class="sect-name">
			<span><%= sectname %></span>
		</div>
		<div class="articles"><%= articles %></div>
	</section>
</script>

<script type="text/template" id="article-template">
	<article class="<%= level %>">
		<div class="date"><span><%= date %></span></div>
		<div class="wrapper">
			<div class="title"><span><%= title %></span></div>
			<div class="content"><span><%= content %></span></div>
			<div class="media num-<%= nummedia %>">
				<div class="r-wrap"><div class="r-wrap-in"><%= media %></div></div>
			</div>
		</div>
	</article>
</script>

<script type="text/template" id="image-template">
	<div class="medium"><div class="wrapper">
		<a class="gallery" rel="gallery<%= gallery %>" href="<%= url %>">
			<img src="<%= url %>" alt="<%= title %>">
		</a>
	</div></div>
</script>

<script type="text/template" id="video-template">
	<div class="medium vedio"><div class="wrapper">
		<a class="gallery fancybox.iframe" rel="gallery<%= gallery %>" href="https://www.youtube.com/embed/<%= url %>">
			<span class="icon"><i class="fa fa-play"></i></span>
			<img src="http://img.youtube.com/vi/<%= url %>/0.jpg" alt="<%= title %>">
		</a>
	</div></div>
</script>

<script type="text/template" id="doc-template">
	<div class="medium"><div class="wrapper">
		<a target="_blank" href="<%= url %>">
			<span class="icon"><i class="fa fa-file"></i></span>
			<span class="title"><%= title %></span>
		</a>
	</div></div>
</script>
