<section class="title se-section">
	<div class="sect-name se-title"></div>
	<div class="content">
		<div class="maintitle">
			<p>가족협의회</p>
			<p>활동일지</p>
		</div>
		<div class="subtitle"><span>- 특별법을 중심으로</span></div>
	</div>
</section>

<script type="text/template" id="section-template">
	<section class="se-section">
		<div class="sect-name se-title">
			<span><%= sectname %></span>
		</div>
		<div class="articles"><%= articles %></div>
	</section>
</script>

<script type="text/template" id="article-template">
	<article class="<%= level %>">
		<div class="date se-bgcolor"><span><%= date %></span></div>
		<div class="wrapper">
			<div class="title"><span><%= title %></span></div>
			<div class="content"><span><%= content %></span></div>
			<div class="media num-<%= nummedia %>">
				<div class="wrapper"><%= media %></div>
			</div>
		</div>
	</article>
</script>

<script type="text/template" id="image-template">
	<div class="medium"><div class="wrapper">
		<a class="gallery" rel="gallery<%= gallery %>" href="<%= url %>"><img src="<%= url %>"></a>
	</div></div>
</script>

<script type="text/template" id="video-template">
	<div class="medium vedio"><div class="wrapper">
		<a class="gallery fancybox.iframe" rel="gallery<%= gallery %>" href="https://www.youtube.com/embed/<%= url %>">
			<span><i class="fa fa-play"></i></span>
			<img src="http://img.youtube.com/vi/<%= url %>/maxresdefault.jpg">
		</a>
	</div></div>
</script>

<script type="text/template" id="doc-template">
	<div class="medium"><div class="wrapper">
		<a class="gallery fancybox.iframe" rel="gallery<%= gallery %>" href="<%= url %>">
			<span><i class="fa fa-file"></i><span>
		</a>
	</div></div>
</script>
