#page-journal {
	////////
	//말단의 요소들에 대해서만 em을 사용해 font-size를 정의하도록 한다.
	//그렇게 하면 각 요소의 font-size는 언제나 #page-journal의 font-size를 참조하게 된다.
	////////
	font-size: @font-size-m;
	section:nth-of-type(2) {
		.section(@color, #5a91e2, #ffffff);
	}
	section:nth-of-type(3) {
		.section(@color, #f5a9f2, #f3f781);
	}
	section:nth-of-type(4) {
		.section(#ffffff, #73ffda, @color);
	}
	section:nth-of-type(5) {
		.section(@color, #5a91e2, #ffffff);
	}
	section:nth-of-type(6) {
		.section(@color, #f5a9f2, #f3f781);
	}
	section.title {
		font-family: @font-noto;
		text-align: center;
		color: @color;
		background-color: #ffffff;
		.content {
			display: inline-block;
			padding: 3em 0;
			text-align: left;
			transform: rotateZ(-20deg);
			-webkit-transform: rotateZ(-20deg);
		}
		.maintitle {
			p {
				font-size: 2.5em;
				line-height: 1em;
				&:first-child {
					transform: skewX(30deg);
					-webkit-transform: skewX(30deg);
				}
				&:last-child {
					transform: skewX(-30deg);
					-webkit-transform: skewX(-30deg);
				}
			}
		}
		.subtitle {
			span {
				font-size: 1.7em;
				line-height: 1em;
			}
			transform: skewX(30deg);
			-webkit-transform: skewX(30deg);
		}
	}// section.title
	.media-num(2px);
}

@media screen and (max-width: 559px) {
	#page-journal {
		.sect-name {
			position: absolute !important;
		}
	}
}
@media screen and (min-width: 425px) {
	#page-journal {
		section.title {
			.maintitle p {
				font-size: 3.6em;
			}
			.subtitle span {
				font-size: 2.4em;
			}
		}
	}
}
@media screen and (min-width: 560px) {
}

.section(@color, @color-strong, @bgcolor) {
	color: @color;
	padding: 8%;
	background-color: @bgcolor;
	.sect-name {
		transform: rotateZ(30deg); -wekit-transform: rotateZ(30deg);
		transform-origin: 0 0; -webkit-transform-origin: 0 0;
		span {
			display: block;
			font-family: @font-noto;
			font-size: 1.3em;
			color: @color-strong;
			transform: skewX(-30deg); -webkit-transform: skewX(-30deg);
			transform-origin: 0 0; -webkit-transform-origin: 0 0;
		}
	}
	article {
		margin-top: 1em;
		&.important {
			.date:before {
				content: '';
				display: block;
				height: 0.3em;
				width: 120%;
				background-color: @color-strong;
			}
			.title span {
				font-size: 1.4em;
			}
		}
		.date {
			display: inline-block;
			font-family: @font-mont;
			color: @color-strong;
			span {
				font-size: 1.0635em;
			}
		}
		& > .wrapper {
			border-left: solid 2px @color-strong;
			padding-left: 1em;
		}
		.title {
			font-family: @font-noto;
			margin-top: 1em;
			span {
				font-size: 1.0635em;
				line-height: 1.1em;
			}
		}
		.content {
			font-family: @font-batang;
			margin-top: 1em;
			span {
				line-height: 1.5em;
			}
		}
		.media {
			position: relative;
			margin-top: 1em;
			padding-bottom: 50%;
			& > .wrapper {
				position: absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;
			}
			.medium {
				position: absolute;
				& > .wrapper {
					width: 100%; height: 100%;
					overflow: hidden;
					background-color: #eeeeee;
					img {
						width: 100%;
						filter: grayscale(100%); -webkit-filter: grayscale(100%);

					}
					a {
						display: block;
						width: 100%;
						height: 100%;
						&:link, &:active, &:visited, &:hover {
							color: @color-strong;
						}
						&:active, &:hover {
							img {
								filter: grayscale(0); -webkit-filter: grayscale(0);
							}
						}
						position: relative;
						span {
							position: absolute;;
							z-index: 2;
							top: 50%;
							left: 50%;
							margin-top: -0.8em;
							margin-left: -0.8em;
							i {
								font-size: 1.6em;
							}
						}
					}// a
				}// .wrapper
			}// .medium
		}// .media
	}// article
}// .section()

.media-num(@half-gutter){
	.media.num-0 {
		display: none;
	}
	.media.num-1 {
		.medium {
			top: 0; left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.media.num-2 {
		.medium:nth-of-type(1) {
			top: 0; left: 0;
			width: 50%;
			height: 100%;
			padding-right: @half-gutter;
		}
		.medium:nth-of-type(2) {
			top: 0; left: 50%;
			width: 50%;
			height: 100%;
			padding-left: @half-gutter;
		}
	}
	.media.num-3 {
		.medium:nth-of-type(1) {
			top: 0; left: 0;
			width: 50%;
			height: 100%;
			padding-right: @half-gutter;
		}
		.medium:nth-of-type(2) {
			top: 0; left: 50%;
			width: 50%;
			height: 50%;
			padding: 0 0 @half-gutter @half-gutter;
		}
		.medium:nth-of-type(3) {
			top: 50%; left: 50%;
			width: 50%;
			height: 50%;
			padding: @half-gutter 0 0 @half-gutter;
		}
	}
	.media.num-4 {
		.medium:nth-of-type(1) {
			top: 0; left: 0;
			width: 50%;
			height: 50%;
			padding: 0 @half-gutter @half-gutter 0;
		}
		.medium:nth-of-type(2) {
			top: 0; left: 50%;
			width: 50%;
			height: 50%;
			padding: 0 0 @half-gutter @half-gutter;
		}
		.medium:nth-of-type(3) {
			top: 50%; left: 0;
			width: 50%;
			height: 50%;
			padding: @half-gutter @half-gutter 0 0;
		}
		.medium:nth-of-type(4) {
			top: 50%; left: 50%;
			width: 50%;
			height: 50%;
			padding: @half-gutter 0 0 @half-gutter;
		}
	}
	.media.num-5 {
		.medium:nth-of-type(1) {
			top: 0; left: 0;
			width: 50%;
			height: 100%;
			padding: 0 @half-gutter 0 0;
		}
		.medium:nth-of-type(2) {
			top: 0; left: 50%;
			width: 25%;
			height: 50%;
			padding: 0 @half-gutter @half-gutter @half-gutter;
		}
		.medium:nth-of-type(3) {
			top: 0; left: 75%;
			width: 25%;
			height: 50%;
			padding: 0 0 @half-gutter @half-gutter;
		}
		.medium:nth-of-type(4) {
			top: 50%; left: 50%;
			width: 25%;
			height: 50%;
			padding: @half-gutter @half-gutter 0 @half-gutter;
		}
		.medium:nth-of-type(5) {
			top: 50%; left: 75%;
			width: 25%;
			height: 50%;
			padding: @half-gutter 0 0 @half-gutter;
		}
	}
	.media.num-6 {
		.medium:nth-of-type(1) {
			top: 0; left: 0;
			width: 33.33%;
			height: 50%;
			padding: 0 @half-gutter @half-gutter 0;
		}
		.medium:nth-of-type(2) {
			top: 0; left: 33.33%;
			width: 33.33%;
			height: 50%;
			padding: 0 @half-gutter @half-gutter @half-gutter;
		}
		.medium:nth-of-type(3) {
			top: 0; left: 66.66%;
			width: 33.33%;
			height: 50%;
			padding: 0 0 @half-gutter @half-gutter;
		}
		.medium:nth-of-type(4) {
			top: 50%; left: 0;
			width: 33.33%;
			height: 50%;
			padding: @half-gutter @half-gutter 0 0;
		}
		.medium:nth-of-type(5) {
			top: 50%; left: 33.33%;
			width: 33.33%;
			height: 50%;
			padding: @half-gutter @half-gutter 0 @half-gutter;
		}
		.medium:nth-of-type(6) {
			top: 50%; left: 66.66%;
			width: 33.33%;
			height: 50%;
			padding: @half-gutter 0 0 @half-gutter;
		}
	}
}
