<div class="outline inner-page open-inner-page">
	<div class="header">
		<div class="video-wrap">
			<iframe id="hearing2-video" width="100%" height="100%" src="https://www.youtube.com/embed/2i-bn8SdLiM?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe>
		</div>
		<div class="wrapper">
			<div class="title">
				<div class="title-part-1"><span>416세월호참사 특별조사위원회</span></div>
				<div class="title-part-2"><span>2차 청문회</span></div>
				<div class="title-part-3"><span>예고된 참사: 세월호 비극은<br>일어날 수 밖에 없었다</span></div>
			</div>
		</div>
	</div>
	<div class="content">
	</div>
</div>
<div class="sections">
</div>

<script type="text/template" id="outline-template">
	<div class="part">
		<div class="header">
			<span class="part-num">part <%= partNum %></span>
			<div class="title">
				<span class="main"><%= title %></span>
			</div>
		</div>
		<ul><%= supicions %></ul>
		<div class="tilted-border-line">
		</div>
	</div>
</script>

<script type="text/template" id="outline-suspicion-template">
	<li data-num="<%= num %>">
		<span class="num"><span>의혹 </span><span><%= num %></span></span>
		<div class="item">
			<div class="item-wrap">
				<span><%= item %></span>
				<div class="hover-text">
					<div class="hover-text-wrap"><span><%= item %></span></div>
				</div>
			</div>
		</div>
	</li>
</script>

<script type="text/template" id="section-template">
	<div class="header suspicion-header">
		<div class="go-back-outline fixed-element">
			<span>의혹 전체보기</span>
		</div>
		<div class="part-title">
			<div class="part-num">part <%= partNum %></div>
			<div class="part-main-title"><%= partMainTitle %></div>
		</div>
		<div class="title">
			<span class="title-num-wrapper">
				<div class="wrapper">
					<span>의혹</span>
					<span class="title-num"><%= titleNum %></span>
				</div>
			</span>
			<span class="title-wrapper"><span><%= title %></span></span>
		</div>
		<div class="background">
			<div class="media size-<%= bgMediaSize %>"><%= bgMedia %></div>
			<p><%= background %></p>
		</div>
		<div class="witnesses">
			<div class="header article-title"><span>관련증인</span></div>
			<ul class="list"><%= witness %></ul>
		</div>
	</div><!-- header -->
	<div class="content">
		<div class="abstract">
			<div class="header article-title"><span>청문회 주요내용</span></div>
			<ul class="list"><%= abstract %></ul>
		</div>
		<div class="dialogue">
			<div class="header article-title"><span>그들의 한마디</span></div>
			<ul class="list"><%= dialogue %></ul>
		</div>
		<div class="etc">
			<div class="header article-title"><span>함께 보기</span></div>
			<div class="media size-<%= etcMediaSize %>"><%= etcMedia %></div>
			<ul class="links num-<%= etcLinkNum %>"><%= etcLinks %></ul>
		</div>
	</div> <!--content -->
</script>

<script type="text/template" id="etc-link-tempate">
	<i class="fa fa-circle"></i><li><%= etclink %></span></li>
</script>

<script type="text/template" id="medium-template">
	<div class="medi-with-cap">
		<div class="medium-wrapper"><%= medium %></div>
		<div class="caption"><%= caption %></div>
	</div>
</script>

<script type="text/template" id="abs-image-template">
	<a class="gallery" rel="gallery<%= gallery %>" href="<%= url %>">
		<img src="<%= url %>" alt="<%= title %>">
	</a>
</script>
<script type="text/template" id="abs-video-template">
	<a class="gallery fancybox.iframe" rel="gallery<%= gallery %>" href="https://www.youtube.com/embed/<%= url %>">
		<div class="play-icon"><i class="fa fa-play"></i></div>
		<img src="http://img.youtube.com/vi/<%= t_url %>/0.jpg" alt="<%= title %>">
	</a>
</script>
<script type="text/template" id="abs-doc-template">
	<a target="_blank" href="<%= url %>">
		<span class="icon"><i class="fa fa-file"></i></span>
		<span class="title"><%= title %></span>
	</a>
</script>
<script type="text/template" id="abs-audio-template">
	<a class="audio-gallery" rel="gallery<%= gallery %>" href="<%= imgurl %>">
		<div class="play-icon"><i class="fa fa-play"></i></div>
		<img src="<%= imgurl %>" alt="<%= title %>" data-audio-url="<%= audiourl %>">
	</a>
</script>

<script type="text/template" id="witnesses-template">
	<li class="witness-photo" data-name="<%= name %>">
		<div class="photo-wrap">
			<img src="<%= photo %>" data-name="<%= name %>">
		</div>
		<span class="name"><%= name %></span>
		<span class="organ"><%= organ %></span>
	</li>
</script>

<script type="text/template" id="abstract-template">
	<li>
		<div class="abstract-media-wrap">
			<ul class="abstract-media"><%= abstractMedia %></ul>
		</div>
		<p><%= abstract %></p>
	</li>
</script>

<script type="text/template" id="dialogue-template">
	<li>
		<div class="subject"><span><%= subject %></span></div>
		<div class="video"><%= video %></div>
		<%= qna_content %>
	</li>
</script>
<script type="text/template" id="dialogue-qa-template">
	<div class="qa-wrapper">
		<div class="question">
			<span class="name"><%= qName %></span>
			<div class="question-wrapper"><%= question %></div>
		</div>
		<div class="answer">
			<div class="witness-photo" data-name="<%= aName %>">
				<div class="photo-wrap">
					<img src="<%= photo %>" data-name="<%= aName %>">
				</div>
				<div class="name-organ-wrap">
					<span class="name"><%= aName %></span>
					<span class="organ"><%= aOrgan %></span>
				</div>
			</div>
			<div class="speech-bubble">
				<div class="nipple-border nipple-top"></div>
				<div class="nipple-bg nipple-top se-bg-bd-t-r"></div>
				<div class="nipple-border nipple-left"></div>
				<div class="nipple-bg nipple-left se-bg-bd-t-r"></div>
				<div class="answer-wrapper"><%= answer %></div>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="dialogue-video-tempate">
	<div class="video-wrap">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%= videoUrl %>?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
</script>
